@using Microsoft.AspNetCore.Identity
@using Chicanery.Persona.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Persona</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/office-ui-fabric-js/dist/css/fabric.min.css" />
        <link rel="stylesheet" href="~/lib/office-ui-fabric-js/dist/css/fabric.components.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/office-ui-fabric-js/dist/css/fabric.min.css" />
        <link rel="stylesheet" href="~/lib/office-ui-fabric-js/dist/css/fabric.components.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="ms-CommandBar ms-CommandBar--navBar">
        <div class="ms-CommandBar-sideCommands">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="ms-CommandButton">
                    <a asp-controller="manage" asp-action="index" class="ms-CommandButton-button" style="text-decoration: none;">
                        <img src="~/profile/picture" alt="Profile picture" width="30" height="30" style="margin: 5px; border-radius: 50%;" />
                        <span class="ms-CommandButton-label">@UserManager.GetUserName(User)</span>
                    </a>
                </div>
                <div class="ms-CommandButton">
                    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                        <button type="submit" class="ms-CommandButton-button">
                            <span class="ms-CommandButton-label">Sign out</span>
                        </button>
                    </form>
                </div>
            }
            else
            {
                <div class="ms-CommandButton">
                    <a class="ms-CommandButton-button" asp-area="" asp-controller="account" asp-action="login"><span class="ms-CommandButton-label">Sign in</span></a>
                </div>
                <div class="ms-CommandButton">
                    <a class="ms-CommandButton-button" asp-area="" asp-controller="account" asp-action="register"><span class="ms-CommandButton-label">Create an account</span></a>
                </div>
            }
        </div>
        <div class="ms-CommandBar-mainArea">
            <div class="ms-CommandButton ms-CommandButton--pivot is-active">
                <a class="ms-CommandButton-button" asp-area="" asp-controller="home" asp-action="index"><span class="ms-CommandButton-label">Persona</span></a>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/office-ui-fabric-js/dist/js/fabric.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/office-ui-fabric-js/dist/js/fabric.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
