@{
    ViewData["Title"] = "Welcome";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="ms-Grid">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md8 ms-u-lg6 ms-u-xl4 ms-u-mdPush2 ms-u-lgPush3 ms-u-xlPush4">
        <h1 class="ms-font-su">Welcome to Persona</h1>

        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-controller="manage" asp-action="index" class="ms-Button ms-Button--hero">
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--Settings"></i></span>
                <span class="ms-Button-label">Manage your account</span>
            </a>
        }
        else
        {
            <a asp-controller="account" asp-action="login" class="ms-Button ms-Button--hero">
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--Contact"></i></span>
                <span class="ms-Button-label">Sign in to your account</span>
            </a>

            <div class="ms-font-l" style="margin: 25px;">or</div>

            <a asp-controller="account" asp-action="register" class="ms-Button ms-Button--compound">
                <span class="ms-Button-label">Create an account</span>
                <span class="ms-Button-description">It only takes a second</span>
            </a>
        }
    </div>
</div>
