@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password";
}

<div class="ms-Grid">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md8 ms-u-lg6 ms-u-xl4 ms-u-mdPush2 ms-u-lgPush3 ms-u-xlPush4">

        <h2 class="ms-font-su">Forgot your password?</h2>

        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="ms-font-m"></div>

            <div class="ms-TextField">
                <label asp-for="Email" class="ms-Label"></label>
                <input asp-for="Email" class="ms-TextField-field" />
                <span asp-validation-for="Email"></span>
            </div>

            <button class="ms-Button ms-Button--primary" type="submit">
                <span class="ms-Button-label">Submit</span>
            </button>
        </form>

    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
